
<div class="page-section">
  <div class="container">
    <h2><%= @page.city.name %></h2>
    <ul>
      <li>Legislature: <a href="/legislature/<%= @page.city.legislature.id %>"><%= @page.city.legislature.name %></a></li>
      <li>Government: <a href="https://www.wikidata.org/wiki/<%= @page.city.executive.id %>"><%= @page.city.executive.name %></a></li>
      <li>Head of Government: <a href="https://www.wikidata.org/wiki/<%= @page.city.head.id %>"><%= @page.city.head.name %></a> 
          (<a href="https://www.wikidata.org/wiki/<%= @page.city.office.id %>"><%= @page.city.office.name %></a>)</li>
    </ul>
  </div>
</div>
