
<div class="page-section">
  <div class="container">
    <ul>
      <li>Legislature: <a href="/legislature/<%= @page.country.legislature.id %>"><%= @page.country.legislature.name %></a></li>
      <li>Government: <a href="https://www.wikidata.org/wiki/<%= @page.country.executive.id %>"><%= @page.country.executive.name %></a></li>
      <li>Head of Government: <a href="https://www.wikidata.org/wiki/<%= @page.country.head.id %>"><%= @page.country.head.name %></a> 
          (<a href="https://www.wikidata.org/wiki/<%= @page.country.office.id %>"><%= @page.country.office.name %>)</a></li>

      <li>Divisions:
        <ol>
          <% @page.divisions.each do |division| %>
            <li>
              <a href="https://www.wikidata.org/wiki/<%= division.id %>"><%= division.name %></a> (pop. <%= division.population.to_i.commify %>)
              <ul>
                <li>Head of Government: <a href="https://www.wikidata.org/wiki/<%= division.head.id %>"><%= division.head.name %>
                  (<a href="https://www.wikidata.org/wiki/<%= division.office.id %>"><%= division.office.name %>)</a></li>
                <li>Legislature:
                  <% if division.legislature.id %>
                    <a href="/legislature/<%= division.legislature.id %>"><%= division.legislature.name || '???' %></a>
                  <% else %>
                    ???
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ol>
      </li>

      <li>Largest Cities:
        <ol>
          <% @page.cities.each do |city| %>
            <li><a href="/city/<%= city.id %>"><%= city.name %></a> (pop. <%= city.population.to_i.commify %>)</li>
          <% end %>
        </ol>
      </li>

    </ul>
  </div>
</div>
