<li>
  <a href="https://www.wikidata.org/wiki/<%= place.id %>"><%= place.name %></a> <%= show_population(place.populations) %>
  <ul>
    <li>Head of Government:
      <% if place.heads.any? %>
        <%= wikidata_links(place.heads) %>
      <% else %>
        <i>holder unknown</i>
      <% end %>

      <% if place.offices.any? %>
        (<%= wikidata_links(place.offices) %>)
      <% else %>
        (<i>office unknown</i>)
      <% end %>
    </li>

    <li>
      <% if place.legislatures.count > 1 %>
        Legislatures:
        <ul>
          <% place.legislatures.each do |legislature| %>
            <li><%= erb :_legislature, locals: { legislature: legislature } %></li>
          <% end %>
        </ul>
      <% else %>
        Legislature:
        <%= erb :_legislature, locals: { legislature: place.legislatures.first } %>
      <% end %>
    </li>
  </ul>
</li>
